target/

.DS_Store

idea/
/.idea
/.classpath
/.project
/.settings/*
/bin
/*.log

.env

resources/etx
config.json
*.lck
*.tar
*.log

jpo-mec-deposit/src/main/java/us/dot/its/jpo/ode/mec/deposit/models/etx/mqtt/generated