# (Required) The IP address of Docker host machine which can be found by running "ifconfig"
# Hint: look for "inet addr:" within "eth0" or "en0" for OSX
DOCKER_HOST_IP=
KAFKA_BOOTSTRAP_SERVERS={DOCKER_HOST_IP}:9092
LOGGING_LEVEL=DEBUG

# (Required) The full path of a directory on the host machine to be shared with docker containers.
# Hint: usually the path to the `jpo-ode` directory.
DOCKER_SHARED_VOLUME=""

# Docker compose restart policy: https://docs.docker.com/engine/containers/start-containers-automatically/
RESTART_POLICY="on-failure:3"

# Available profiles:
# - all
#   - mec_deposit_full
#       - mec_deposit
#       - deduplicator
#       - ode
#       - adm
#   - cm_base
#       - conflictmonitor-build
#       - deduplicator
#   - deduplicator
#       - deduplicator
#   - ode_geojsonconverter
#       - geojsonconverter
#       - ode
#       - adm
# EXAMPLE: COMPOSE_PROFILES=kafka_connect_standalone,kafka_ui,mongo_express
# Refer to jpo-utils/.env for more profiles
COMPOSE_PROFILES=mec_deposit_base

# Set to "CONFLUENT" if broker is a Confluent Cloud broker
# Leave blank if broker is a local broker (e.g. Docker Compose)
KAFKA_TYPE=

# Set to actual Confluent Cloud access key and secret values for SASL authentication
CONFLUENT_KEY=""
CONFLUENT_SECRET=""

METRICS_ENABLED="True"
METRICS_KAFKA_TOPIC="topic.MecDepositMetrics"

# ETX Variables
ETX_ENABLED="True"
ETX_CERT_PATH="resources/etx"
# ETX_REGISTRATION_VENDOR is the vendor name used to register the ETX client with the ETX Partner API
ETX_REGISTRATION_VENDOR=""
# ETX_MQTT_VENDOR is the vendor name used to connect to the ETX MQTT broker and publish messages
ETX_MQTT_VENDOR="Public"
ETX_MQTT_MESSAGE_FORMAT="j2735_gr"
ETX_NETWORK_TYPE="non-VZ"
ETX_PARTNER_API_BASE_URI=""
ETX_PARTNER_API_USERNAME=""
ETX_PARTNER_API_PASSWORD=""
ETX_CLIENT_TYPE="Software"
ETX_CLIENT_SUB_TYPE="Application"
ETX_CACHE_REGISTRATION="true"
ETX_MEC_LATITUDE=""
ETX_MEC_LONGITUDE=""
ETX_PUBLISH_RATE="50"
ETX_PARTNER_API_CLEAR_TIM_ENABLED="True"
ETX_PARTNER_API_CLEAR_TIM_INTERVAL="10"

# The following variables are defaulted to the following sample values if no environment variables are provided
ETX_DEPOSITORS_BSM_MQTT_ENABLED="True"
ETX_DEPOSITORS_BSM_MQTT_KAFKA_TOPIC="topic.OdeBsmJson"
ETX_DEPOSITORS_SPAT_MQTT_ENABLED="True"
ETX_DEPOSITORS_SPAT_MQTT_KAFKA_TOPIC="topic.OdeSpatJson"
ETX_DEPOSITORS_TIM_MQTT_ENABLED="True"
ETX_DEPOSITORS_TIM_MQTT_KAFKA_TOPIC="topic.OdeTimJson"
ETX_DEPOSITORS_TIM_API_ENABLED="True"
ETX_DEPOSITORS_TIM_API_KAFKA_TOPIC="topic.OdeTimJsonTMCFiltered"
ETX_DEPOSITORS_MAP_MQTT_ENABLED="True"
ETX_DEPOSITORS_MAP_MQTT_KAFKA_TOPIC="topic.OdeMapJson"
ETX_DEPOSITORS_MAP_API_ENABLED="True"
ETX_DEPOSITORS_MAP_API_KAFKA_TOPIC="topic.DeduplicatedOdeMapJson"