DOCKER_HOST_IP=
BOOTSTRAP_SERVER=${DOCKER_HOST_IP}:9092

IMP_ENABLED="True"
IMP_CERT_PATH=""
IMP_VENDOR=""
IMP_MQTT_VENDOR="Public"
IMP_NETWORK_TYPE="non-VZ"
IMP_PARTNER_API_BASE_URI=""
IMP_PARTNER_USER=""
IMP_PARTNER_PASS=""
IMP_CLIENT_TYPE="Software"
IMP_CLIENT_SUB_TYPE="Application"
IMP_CACHE_REGISTRATION="true"
IMP_MEC_LATITUDE=""
IMP_MEC_LONGITUDE=""