DOCKER_HOST_IP=
BOOTSTRAP_SERVER=${DOCKER_HOST_IP}:9092

IMP_ENABLED=
IMP_CERT_PATH=
IMP_VENDOR=
IMP_NETWORK_TYPE=
IMP_PARTNER_API_BASE_URI=
IMP_PARTNER_USER=
IMP_PARTNER_PASS=
IMP_CLIENT_TYPE=
IMP_CLIENT_SUB_TYPE=
IMP_TOPIC_TYPE=
IMP_CACHE_REGISTRATION=
IMP_MEC_LATITUDE=
IMP_MEC_LONGITUDE=
